* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --mainColor : #141C3A;

}
.mainPlacement {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
section {
    width: 75%;
    position: relative;
}

/*----HEADER----*/
header {
    width: 100%;
    background-color: var(--mainColor);
    min-height: 10em;
    position: relative;
}
header section {
    min-height: 10em;
    display: flex;
    align-items: flex-end;
}
h1 {
    font-size: 48px;
    margin: 0.5em 1em;
    color: white;
}
#addPage {
    background-color: var(--mainColor);
    color: white;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50px;
    font-size: 40px;
    position: absolute;
    right: 80px;
    bottom: -40px;
    text-align: center;
    cursor: pointer;
}

/*----NAV----*/
nav {
    position: absolute;
    top: -4em;
    left: -14em;
    min-height: auto;
    padding: 1em;
    border: var(--mainColor) 2px solid;
    background-color: white;
}
h2 {
    min-height: 2em;
    margin-right: 3em;
    font-size: 1.2em;
}
nav ul {
    list-style-type: none;
}
nav li {
    margin: 1em 0;
    color: #696969;
}
nav li:hover {
    color: black;
    font-weight: bold;
    cursor: pointer;
}

/*----MAIN----*/

article {
    margin : 3em 2em;
    width: 80%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .description {
    width : 60%;
    margin-right: 1em;
}
h3 {
    margin: 1em 0;
}
.example {
    height: 4em;
    width: 16em;
    background-color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
}
.white {
    color: white;
    margin: 0 0.2em;
}
.blue {
    color : rgb(138, 201, 247)
}
.orange {
    color: rgb(201, 116, 16);
}
#addArticle {
    background-color: var(--mainColor);
    color: white;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    line-height: 60px;
    position: absolute;
    right: 50px;
    bottom: 30px;
    cursor: pointer;
    text-align: center;
}

@media all and (max-width : 800px) {
    .mainPlacement {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header section {
        align-items: center;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        min-height: 0;
        margin-right: 0;
        font-size: 1.2em;
    }
    nav {
        width: 75%;
        position: static;
        margin: -2em auto;
    }
    nav ul {
        display: none;
    }
    section {
        width: 100%;
        align-items: center;
    }
    article {
        width: 100%;
        margin: 2em 0em;
        display: flex;
        flex-direction: column;
    }
    h3 {
        margin: 1em 3em;
    }
    .container {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .description {
        width : 100%;
        margin: 0.5em 3em;
    }
    .example {
        width: 100%;
    }
}