@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --mainColor : #141C3A;
    --backgroundBoxColor : #E5E5E5;
    --borderBoxColor : #C4C4C4;
}   

/*----HEADER----*/
header {
    width: 100%;
    background-color: var(--mainColor);
    min-height: 10em;
    display: flex;
    align-items: flex-start;
}
header .container {
    /* width: 50%; */
    min-height: 10em;
    display: flex;
    align-items: flex-end;
    margin-left : 3em;
}
h1 {
    font-size: 48px;
    margin: 0.5em 1em;
    color: white;
}
header button {
    color: white;
    background-color: var(--mainColor);
    border: none;
    margin: 0.8em;
    font-size: 1.5em;
    cursor: pointer;
}

/*-----CONTENU-----*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    width: 50%;
    margin: 5em auto;
    padding: 0.8em;
    background-color: var(--backgroundBoxColor);
    border: solid var(--borderBoxColor);
    color: var(--borderBoxColor);
}
ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: solid var(--borderBoxColor);
    background-color: var(--backgroundBoxColor);
    width: 200px;
    min-height: 120px;
    margin: 20px;
}
a {
    background-color: var(--mainColor);
    padding: 1em 4em;
    cursor: pointer;
    border: none;
    text-decoration: none;
    color: white;
}
h3 {
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 160px;
    font-size: medium;
}

.terminal {
    font-size: 2em;
    font-family: 'VT323', monospace;
    background-color: black;
    color: grey;
    height: 80vh;
    margin: 0 8% 2% 8%;
}

.terminal * {
    font-family: 'VT323', monospace;
    color: grey;
}

.terminal label {
    margin-left: 7%;
}

.terminal input {
    font-size: 1.05em;
    margin-left: -1%;
    margin-top: 2%;
    border: none;
    background-color: inherit;
    outline: none;
}

.terminal ul {
    margin-top: -5%;

    width: 100%;
}

.terminal li {
    width: 100%;
    background-color: inherit;
    border: none;
    margin-bottom: -6%;
}

/*-----REPONSIVE-----*/
@media all and (max-width : 980px) {
    ul {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media all and (max-width : 680px) {
    #mainTitle span {
        display: none;
    }
    header button {
        display: none;
    }
    input {
        width: 100%;
        margin: 0px 0px 2em;
        box-sizing: border-box;
    }
    ul {
        grid-template-columns: repeat(1, 1fr);
    }
}